# API Keys - EN ÖNEMLİ!
Config.xcconfig

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
*.xcuserstate
*.xcworkspace/xcuserdata/
xcuserdata/
DerivedData/
.swiftpm/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved

# CocoaPods (eğer kullanacaksan)
Pods/

# Fastlane (gelecekte kullanabilirsin)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output